<div class="row">
  <div class="col s6">
    <div class="card medium blue-grey darken-1 center-align z-depth-4">
      <div class="card-content white-text">
        <span class="card-title">Search articles</span>
        <p>Search for any article below, in case of doubt get in touch with us</p>
      </div>

      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">search</i>
        <input id="article_input" type="text" class="validate">
        <label for="article_input">Article</label>
        <%= image_tag "spinner.gif", id: 'spinner_gif', alt: "Thumbnail Image", style: "height: 50px; width: 50px;" %>
      </div>

    </div>
  </div>

  <div class="col s6">
    <div class="card medium blue-grey darken-1 center-align z-depth-4">
      <div class="card-content white-text">
        <span class="card-title">Articles</span>
        <p>Articles found</p>
        <table class="responsive-table">
        <thead>
          <tr>
              <th>Article</th>
              <th>search times</th>
          </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
      </table>
      <a id="clear_stats" class="waves-effect waves-light btn" style="margin-top: 20px;">Clear stats</a>
      </div>
    </div>
  </div>
</div>
